.timer-alert {
  font-size: 1.6vw;
  background-color: #ffffff;
  display: table;
  text-align: center;
  z-index: 1;
  border: solid 1px #ff7400;
  border-top: none;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.timer-alert__title {
  display: block;
  color: #ff7400;
  position: relative;
  z-index: 1;
}

.timer-alert__image {
  height: auto;
  width: 40%;
  animation: rotate 0.5s linear;
  margin-top: 5%;
}

@keyframes rotate {
  0% {
    width: 10%
  }
  100% {
    transform: rotate(360deg);
    width: 40%
  }

}

.clock {
  background-color: white;
  right: 0%;
  display: inline-block;
  position: absolute;
  color: green;
  font-size: 1vw;
  overflow: hidden;
  height: 30%;
  width: 3.5%;
  bottom: 18%;
  border: solid 1px #ff7400;
  border-radius: 5px;
  box-sizing: border-box;
}

.clock__progress-bar {
  position: absolute;
  top: 100%;
  background-color: #ff7400;
  height: 100%;
  width: 100%;
  transition-timing-function: linear;
}

.time-end {
  padding: 20px;
  z-index: 1001;
  text-align: center;
  font-size: 2vw;
  background-image: linear-gradient(to bottom, #2cc6fc, #009bff);
  border: solid 1px #ff7400;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.time-end img {
  width: 50%;
  height: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}